.search-container button {
    outline: none;
    border: none;
    color: #fff;
    background-color: #f57224;
    border-radius: 3px;
    margin-left: -5px;
    padding: 10px;
}

.search-bar {
    background-color: #f5f5f5;
    padding: 12px 20px;
    border: none;
    outline: none;
    width: 50%;
    margin-left: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}