.flashsale-container {
    height: 200px;
}

.card-body:hover {
    background-color: white;

}

.card-title {
    font-size: 14px;
    margin-top: 10px;
}

.card-price {
    color: #f57224;
    font-size: 10px;
}

.card-text {
    font-size: 12px;
}